
```css
@font-face {
  font-family: 'Metropolis';
  src: url('https://fonts.techbeatly.com/Metropolis-Light.woff2') format('woff2'),
    url('https://fonts.techbeatly.com/Metropolis-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap; // this is important for safari
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fonts.techbeatly.com/Metropolis-Regular.woff2') format('woff2'),
    url('https://fonts.techbeatly.com/Metropolis-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap; // this is important for safari
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fonts.techbeatly.com/Metropolis-Medium.woff2') format('woff2'),
    url('https://fonts.techbeatly.com/Metropolis-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap; // this is important for safari
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fonts.techbeatly.com/Metropolis-Bold.woff2') format('woff2'),
    url('https://fonts.techbeatly.com/Metropolis-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap; // this is important for safari
}

@font-face {
  font-family: 'Metropolis';
  src: url('https://fonts.techbeatly.com/Metropolis-Black.woff2') format('woff2'),
    url('https://fonts.techbeatly.com/Metropolis-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap; // this is important for safari
}
```

```css

@font-face {
  font-family: 'GeneralSans-VariableItalic';
  src: url('https://fonts.techbeatly.com/GeneralSans-VariableItalic.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-VariableItalic.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-VariableItalic.ttf') format('truetype');
       font-weight: 200 700;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'GeneralSans-Extralight';
  src: url('https://fonts.techbeatly.com/GeneralSans-Extralight.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-Extralight.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-Extralight.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'GeneralSans-ExtralightItalic';
  src: url('https://fonts.techbeatly.com/GeneralSans-ExtralightItalic.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-ExtralightItalic.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-ExtralightItalic.ttf') format('truetype');
       font-weight: 200;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'GeneralSans-Light';
  src: url('https://fonts.techbeatly.com/GeneralSans-Light.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-Light.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-Light.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'GeneralSans-LightItalic';
  src: url('https://fonts.techbeatly.com/GeneralSans-LightItalic.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-LightItalic.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-LightItalic.ttf') format('truetype');
       font-weight: 300;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'GeneralSans-Regular';
  src: url('https://fonts.techbeatly.com/GeneralSans-Regular.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-Regular.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'GeneralSans-Italic';
  src: url('https://fonts.techbeatly.com/GeneralSans-Italic.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-Italic.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-Italic.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'GeneralSans-Medium';
  src: url('https://fonts.techbeatly.com/GeneralSans-Medium.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-Medium.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-Medium.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'GeneralSans-MediumItalic';
  src: url('https://fonts.techbeatly.com/GeneralSans-MediumItalic.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-MediumItalic.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-MediumItalic.ttf') format('truetype');
       font-weight: 500;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'GeneralSans-Semibold';
  src: url('https://fonts.techbeatly.com/GeneralSans-Semibold.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-Semibold.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-Semibold.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'GeneralSans-SemiboldItalic';
  src: url('https://fonts.techbeatly.com/GeneralSans-SemiboldItalic.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-SemiboldItalic.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-SemiboldItalic.ttf') format('truetype');
       font-weight: 600;
       font-display: swap;
       font-style: italic;
}


@font-face {
  font-family: 'GeneralSans-Bold';
  src: url('https://fonts.techbeatly.com/GeneralSans-Bold.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-Bold.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-Bold.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: normal;
}


@font-face {
  font-family: 'GeneralSans-BoldItalic';
  src: url('https://fonts.techbeatly.com/GeneralSans-BoldItalic.woff2') format('woff2'),
       url('https://fonts.techbeatly.com/GeneralSans-BoldItalic.woff') format('woff'),
       url('https://fonts.techbeatly.com/GeneralSans-BoldItalic.ttf') format('truetype');
       font-weight: 700;
       font-display: swap;
       font-style: italic;
}

```